@import '../../../../styles/customMediaQueries.css';

.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.featuresMain {
  composes: baseColumn;
}

.block {
  display: flex;
  flex-direction: row;
  flex: 0 0 25%;
  align-items: center;
  grid-auto-flow: dense;
  gap: 30px;
  padding-right: 0px;

  @media (--viewportMedium) {
    gap: 50px;
    flex-direction: row-reverse;
  }

  &:nth-child(even) {
    @media (--viewportMedium) {
      flex-direction: row;
    }
  }
}

.block > :first-child {
  flex-grow: 1;
  flex-basis: 35%;
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}
